
body {
  background-color: rgb(15, 15, 15);
}

.container {
  max-width: 1350px;
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: #3a0000;
  width: 100%;
  padding: 30px 0 !important;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
.head .logo a {
  text-decoration: none;
  color: #3a0000;
  font-size: 40px;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
@media only screen and (max-width: 470px) {
  .head .logo a {
    font-size: 30px;
  }
}
.head .pages {
  display: flex;
  gap: 10px;
}
@media only screen and (max-width: 1450px) {
  .head .pages {
    display: none;
  }
}
.head .pages a {
  color: #ccc;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  line-height: 27px;
}
.head .search {
  min-width: 200px;
  max-width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1450px) {
  .head .search {
    display: none;
  }
}
.head .search input {
  width: 100%;
  height: 35%;
  border-radius: 10px;
  border: transparent;
  padding: 10px;
}
.head .pf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 44px;
  border-style: solid;
  border-width: 1px;
  border-radius: 18px;
  border-color: rgb(71, 0, 0);
  background-color: transparent;
  color: #ccc;
}
.head .icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 30%;
  padding: 8px;
  transition: background-color 0.8s ease;
  color: #ccc;
}
.head .icon i {
  font-size: 15px;
}
.head .icon:hover {
  background-color: rgb(71, 0, 0);
}
.head .cart {
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 44px;
  border-style: solid;
  border-width: 1px;
  border-radius: 18px;
  border-color: rgb(71, 0, 0);
  background-color: transparent;
  right: 80px;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.head .cart p {
  padding-top: 2px;
  font-size: 16px;
  color: #ccc;
}
.head .cart:hover {
  background-color: rgb(68, 0, 0);
}

.text1 h1 {
  margin-top: 50px;
  font-size: 40px;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}
.text1 p {
  color: rgb(29, 29, 29);
  margin-top: 30px;
  margin-bottom: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.text {
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
.inputs .input-group {
  width: 100%;
  max-width: 900px;
}
.inputs .input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 8px;
}
.inputs .input:focus {
  border-color: #470000;
  outline: none;
}

.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout .checkbuttn {
  width: 200px;
  height: 70px;
  border: #470000 solid 1px;
  border-radius: 90px;
  background-color: #470000;
  margin-bottom: 100px;
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.checkout .checkbuttn:hover {
  background-color: #580000;
  color: white;
  border-color: #580000;
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.fthr {
  width: 100%;
}

footer {
  display: flex;
  background-color: transparent;
}
footer img {
  width: 70px;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
}
footer p {
  margin-left: 30px;
  font-size: 13px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
footer .socials {
  display: flex;
  justify-content: space-between;
  width: 170px;
  margin-left: 27px;
}
footer .socials i {
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 5px;
  font-size: 19px;
  border: solid rgb(39, 39, 39) 1px;
  border-radius: 20px;
  cursor: pointer;
}
footer .partners1 {
  display: flex;
  justify-content: left;
  align-items: center;
}
footer .melroselogo {
  width: 110px;
  height: auto;
  padding-bottom: 10px;
  cursor: pointer;
}
footer .musashilogo {
  width: 90px;
  height: auto;
  padding-bottom: 10px;
  cursor: pointer;
}
footer .ftr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .top {
  display: flex;
  align-items: center;
  gap: 100px;
}
@media only screen and (max-width: 800px) {
  footer .top {
    flex-direction: column;
    gap: 10px;
  }
}
footer .centerpart {
  display: flex;
  align-items: row;
  gap: 30px;
}
@media only screen and (max-width: 800px) {
  footer .centerpart {
    flex-direction: column;
    gap: 0;
  }
}
footer .centerpart1 {
  width: 200px;
}
footer .centerpart1 h5 {
  margin-top: 60px;
  margin-bottom: 25px;
  font-size: 14px;
  font: bold;
  font-family: "Montserrat", sans-serif;
  color: #9b9b9b;
}
footer .centerpart1 h6 {
  font-size: 13px;
  margin-bottom: 14px;
  font: bold;
  font-family: "Montserrat", sans-serif;
  color: #9b9b9b;
  cursor: pointer;
}
footer .rightpart {
  display: flex;
  align-items: row;
}
footer .rightpart1 h1 {
  margin-top: 10px;
  font-size: 40px;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  color: #ff0000 !important;
  cursor: pointer;
}
footer .rightpart h2 {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
footer .text3 {
  display: flex;
  align-items: row;
  gap: 8px;
  cursor: pointer;
}
footer .text4 {
  margin-top: 20px;
  cursor: pointer;
}
footer .text4 h3 {
  margin-top: 3px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
footer .verticalline {
  width: 1px;
  background-color: grey;
  height: 100%;
  margin-right: 30px;
  cursor: pointer;
}/*# sourceMappingURL=delivery.css.map */